{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('task') }}
{% endblock %} 

{% block title %}Task List{% endblock %}

{% block content %}
	<div id="task-list">
    {% for taskId, form in forms %}
		{% include 'task/formtask.html.twig' with { 'form': form, 'taskId': taskId } %}
    {% endfor %}
	</div>
	
	{{ form_start(newTaskForm, {'action': path('task_new'), 'attr': {'id': 'new_task'}}) }}
        {{ form_row(newTaskForm.title) }}
		{{ form_row(newTaskForm.duration) }}
		{{ form_row(newTaskForm.save, {'attr': {'id': 'save_button'}}) }}
    {{ form_end(newTaskForm) }}

{% endblock %}